.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.weather-container {
  max-width: 400px;
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  border-radius: 20px;
  padding: 16px;
}
