.city {
  text-align: left;
  color: #385170;
  font-weight: normal;
  margin-left: 7px;
}

.current-date,
.condition {
  text-align: left;
  color: #385170;
  font-weight: normal;
  margin-left: 7px;
}

.condition::first-letter {
  text-transform: capitalize;
}
